<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="user/index.php" />
      </files>
    </defaultDocument>
    
    <!-- File Upload Limits -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation tempDirectory="C:\Windows\Temp" />
  </system.web>
</configuration>